*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    color: black;
    font-family: sans-serif;
    background: none;
}

:root {
    --color-light: #f8f9fa;
    --color-white: #fff;
    --color-black: #000;
    --color-unaccent: #808080;
    --color-medium: #e8e8e8;

    --linear-gradient: linear-gradient(to right, #e2f87c, #d6f567, #c8f151, #b9ee38, #a8eb12);

    --border-radius: 4px;

    --box-shadow:
        0 16px 24px 2px rgba(33,37,41,.02),
        0 6px 30px 5px rgba(33,37,41,.04),
        0 8px 10px -5px rgba(33,37,41,.1);
}

body {
    background-color: var(--color-light);
}

button {
    cursor: pointer;
}